---
import { marked } from 'marked'
import BaseLayout from '../components/layout/BaseLayout.astro'
import siteConfig from '../site-config'

const websiteInfo = siteConfig.websiteInfo
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
  <link rel="stylesheet" href="/styles.css" />
  {
    (websiteInfo.title ||
      websiteInfo.image.src ||
      websiteInfo.text ||
      websiteInfo.socialLinks) && (
      <div class="flex-col w-full text-center">
        {websiteInfo.title && <h1 class="text-title">{websiteInfo.title}</h1>}
        <div class="centrado">
          {websiteInfo.text && (
            <div class="prose" set:html={marked.parse(websiteInfo.text)} />
          )}
          <>
            <img src="/images/osito.png" alt="character" class="w-10 h-13" />
            <img
              src="/images/mapForICPC.png"
              alt="environment"
              class="w-120 h-120 rounded-lg"
            />
          </>
        </div>
        {websiteInfo.socialLinks.map((link) => (
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            class="prose-link flex items-center"
          >
            <i class:list={[link.icon, 'text-sm mr-1']} />
            <span>{link.text}</span>
          </a>
        ))}
      </div>
    )
  }
</BaseLayout>
